.title{
    color:cornflowerblue;
}

#filterButtons{
    float: right;
    margin-right: 50px;
    border: 0px;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(15, 180, 9);
    color: white;
    cursor: pointer;
}

#filterButtons1{
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    background-color:blue;
    color: white;
    cursor: pointer;
}

#filterButtons2{
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    background-color:white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
#filterButtons3{
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    background-color:white;
    color: black;
    cursor: pointer;
    font-weight: bold;

}

.status{
    margin: auto;
    padding: 4px;
}
.statusContainer{
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}
tr{
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
table{
    text-align: center;
    border-spacing: 0px;
}
th{
    text-align: center;
    background-color: rgb(245, 243, 243);
    padding: 10px 100px 10px 10px;
}

td{
    position: relative;
}