body{
    margin: 0;
    padding: 0;
}
  
header{
    align-items: center;
    display: flex;
}
  
.header-img{
    height: 10%;
    width: 10%;
}
  
h1{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    grid-template-columns: 20% 80%;
}

img{
    height: 15%;
    width: 15%;
}
  
a{
    color: inherit;
    text-decoration: none;
}