<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        
        <link rel="stylesheet" type="text/css" href="viewjobdescrp.css">
        <title>Viewing Full Job Details</title></head>
    <body>
        <div class="wrapper">
            </div>
            <div class="body">
                <h1 class="issue_Name">XXS Vulnerability In Add User Form</h1>
                <p class="issue_Num">Issue #<span id="issue_Num"></span></p>
                <div class="wrapper2">
                    <div class="description">
                        <p id="description">Football is football great warm-diameter professionalism. Aenean pharetra lectus mauris a great To please, and the porch. Clinical need homework is always a crime. Nulla porttitor massa id not have any. Sad old age and disease, nutrition residents and suscipit libero. , My time is at ultrices imperdiet nulla malesuada pellentesque elit. Author pot now it is running. Placerat orci nulla pellentesque dignissim enim sit amet. Ultricies entrepreneurs invest homework, but the user base that bananas. For the arrows of life, an element of real estate to the region nec dui now. Carrots sterilized pot need now running cartoon chocolate.</p>
                    </div>
                    <div class="buttons">
                        <div id="box">
                            <p class="bold">Assigned To</p>
                            <p id="assinged">Tom Brady</p>
                            <p>Type:</p>
                            <p id="type">Poposal</p>
                            <p>Priority:</p>
                            <p id="priority">Major</p>
                            <p>Status:</p>
                            <p id="status">Open</p>
                        </div>
                        <button id="b_closed">Mark as Closed</button><br><br><br>
                        <button id="b_progress">Mark In Progress</button>
                    </div>                    
                </div>
       
            </div>

        </div>

    </body>
</html>